@import url(./var.css);
body{
        background-color: var(--bg-color);
        font-family: var(--main-font);
        /* margin: 0.5em 8em 0.5em 8em; */
        color: var(--text-fill-color);
}
.navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2em 1em 2em 1em;
}
.navigation-menu ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
}
.nav-item{
        padding: 0 0 0 3em;
        font-size: 1.25em;
        font-weight: bold;
}
.nav-item a{
        text-decoration: none;
        color: var(--text-fill-color);
}
.slider-img{
        margin: 0 0 2em 0;
}
.mySlides{
        display: none;
}
.category-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.category-cards > div{
        border: 0.0625em solid var(--text-fill-color);
        border-radius: var(--radius-10);
        padding: 1em 0.5em 0em 0.5em;
        margin: 1em;
        transition: 0.3s;
        width: 8.5em;
        height: 8.5em;
        text-align: center;
}
.category-cards > div >img{
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.category-cards > div:hover {
        box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
}

/* ENGIIN BUTEEGDEHUUN */

.product-homepage-continue{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}
.product-homepage-continue button{
        border: none;
        border-radius: 1em;
        width: 10em;
        height: 2em;
        background-color: var(--third-color);
}
.product-normal-cards-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
.product-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.product-card{
        border: 0.0625em solid var(--text-fill-color);
        border-radius: var(--radius-10);
        padding: 1em 0.5em 0em 0.5em;
        margin: 1em;
        transition: 0.3s;
        width: 11em;
        height: 17em;
        position: relative;
}
.product-card:hover{
        border-color: var(--second-color);
        color: black;
        scale: 1.1;
        box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
}
.product-card:hover .product-card:not(:hover){
        opacity: 0.1;
}
.product-card > img{
        aspect-ratio: 1/1;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.product-card h4{
        margin: 0.5em 0 0 0;
}
.product-card p{
        position: absolute;
        margin: 0;
        bottom: 0.5em;
        left: 1em;
}

/* BONUS */
.product-bonus-homepage-continue{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}
.product-bonus-homepage-continue button{
        border: none;
        border-radius: 1em;
        width: 10em;
        height: 2em;
        background-color: var(--third-color);
}
.product-bonus-cards-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}
.product-bonus-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.product-bonus-card{
        border: 0.0625em solid var(--text-fill-color);
        border-radius: var(--radius-10);
        padding: 1em 0.5em 0em 0.5em;
        margin: 1em;
        transition: 0.3s;
        width: 11em;
        height: 17em;
        position: relative;
}
.product-bonus-card:hover{
        border-color: var(--second-color);
        color: black;
        scale: 1.1;
        box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
}
.product-bonus-card:hover .product-bonus-card:not(:hover){
        opacity: 0.1;
}
.product-bonus-card > img{
        aspect-ratio: 1/1;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.product-bonus-card h4{
        margin: 0.5em 0 0 0;
}
.product-bonus-card p{
        position: absolute;
        margin: 0;
        bottom: 0.5em;
        left: 1em;
}