@import url(./var.css);

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  margin: 0;
  color: var(--text-fill-color);
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* margin: var(--main-margin); */
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 1.5em 1em 1em 1em;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-color);
  z-index: 11;
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 124, 255, 0.5);
}

.nav-links {
  margin: 0 3em 0 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  /* text-transform: uppercase; */
}

.nav-item {
  padding: 0 0 0 3em;
  font-size: 1.375em;
  font-weight: bold;
}

.nav-item a {
  text-decoration: none;
  color: var(--text-fill-color);
}

.nav-item a:hover {
  color: var(--second-color);
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 1.875em;
  height: 0.25em;
  background: var(--text-fill-color);
  margin: 0.3125em;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 767px) {
  nav {
    position: fixed;
    z-index: 11;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 11;
    transition: all 0.7s ease;
  }

  .hamburger div {
    background: var(--second-color);
  }

  .nav-links {
    position: fixed;
    left: -120%;
    width: 100%;
    top: 5.5rem;
    transition: 0.4s;
    padding: 0;
    flex-direction: column;
    background-color: var(--transparent-second-color);
  }

  .nav-links.open {
    margin-top: -1em;
    left: 0;
    z-index: 11;
  }

  .nav-item a:hover {
    color: var(--bg-color);
  }

  .fade {
    margin: 1em 0 1em 0;
    padding: 0;
  }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

/* FOOTER START */
footer {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

footer {
  background-color: var(--third-color);
}

.footer-logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30em;
  background-color: var(--bg-color);
}

.footer-logo picture {
  margin: 0;
}

.footer-app-social {
  margin-top: 0.625em;
}

.footer-all-menu {
  display: flex;
  flex-flow: wrap-reverse;
  padding: var(--footer-padding);
}

.footer-all-menu ul {
  list-style-type: none;
}

.footer-all-menu a {
  text-decoration: none;
  color: var(--text-fill-color);
}

.footer-all-menu li {
  margin: 0.75em 0;
}

.footer-col {
  flex: 1 25%;
}

.footer-line {
  padding: 0;
  margin: 0;
  border-top: 0.1px solid var(--text-fill-color);
}

.social {
  display: flex;
  flex-direction: row;
}

.social a {
  width: 4em;
  height: 4em;
  text-decoration: none;
}

.social .icon {
  width: 100%;
  height: 4em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social a:hover .icon {
  transform: rotateY(360deg);
}

.copyright {
  padding: 0.5em 8em 0.5em 8em;
}

@media (max-width: 767px) {
  .footer-app-social {
    padding: 0;
  }

  .footer-app-social p {
    display: none;
  }

  .footer-all-menu {
    padding: 0 2em;
  }

  .copyright {
    padding-left: 1.5em;
  }
}

/* FOOTER END */

main {
  display: flex;
  flex-direction: column;
  margin: 5.25em 0 0 0;
}

/* SLIDER IMAGE START*/
.slider-img {
  margin: 0em 0 2em 0;
}

.mySlides {
  width: 100%;
  height: 30em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* SLIDER IMAGE END */

.category-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: var(--main-margin);
  padding: var(--main-padding);
  padding-top: 1em;
}

.category-cards .cat-card {
  border: 0.0625em solid var(--text-fill-color);
  border-radius: var(--radius-10);
  padding: 1em 0.5em 0em 0.5em;
  margin: 0em;
  transition: 0.3s;
  width: 8.5em;
  height: 8.5em;
  text-align: center;
}

.category-cards .cat-card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 4.5em;
}

.category-cards h4 {
  padding-bottom: 1em;
  width: 100%;
}

.category-cards .cat-card:hover {
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.category-cards a {
  text-decoration: none;
  color: var(--text-fill-color);
}

/* PRODUCT NORMAL HOMEPAGE START*/

.all-normal-product {
  background-color: var(--third-color);
  padding: var(--main-padding);
}

.all-bonus-product {
  padding: var(--main-padding);
}

.product-homepage-continue,
.product-bonus-homepage-continue {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--main-margin);
  justify-content: space-between;
  max-width: 60.875em;
}

.product-homepage-continue a,
.product-bonus-homepage-continue a {
  text-align: center;
  border: none;
  border-radius: 1em;
  width: 10em;
  height: 1.5em;
  background-color: var(--second-color);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-fill-color);
}

.product-homepage-continue a:active,
.product-bonus-homepage-continue a:active {
  box-shadow: var(--button-active-box-shadow);
  transform: translateY(var(--button-active-y-translate));
}

.product-normal-cards-container,
.product-bonus-cards-container {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-cards,
.product-bonus-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 61em;
  margin: var(--main-margin);
}

.product-card {
  background-color: var(--bg-color);
  border: 0.0625em solid var(--text-fill-color);
  padding: var(--product-card-padding);
  margin: 1em 0;
  transition: 0.3s;
  overflow: hidden;
  width: 10em;
  height: 16em;
  position: relative;
}

.bonus-number {
  position: absolute;
  top: 2%;
  left: 3%;
  width: 2em;
  text-align: center;
  background-color: var(--second-color);
  border-radius: var(--radius-10);
}

.product-card:hover {
  border-color: var(--second-color);
  color: black;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.product-card-img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 10em;
}

.product-card-name {
  margin: 0.5em 0 0 0;
}

.product-card-price p {
  position: absolute;
  margin: 0;
  bottom: 0.5em;
  left: 0.5em;
}

.allNormalSwiper .swiper-button-prev,
.allNormalSwiper .swiper-button-next,
.allBonusSwiper .swiper-button-prev,
.allBonusSwiper .swiper-button-next {
  text-align: center;
  position: absolute;
  top: 40%;
}

.allNormalSwiper,
.allBonusSwiper {
  position: relative;
  /* overflow: hidden; */
}

.allNormalSwiper .swiper-button-prev,
.allBonusSwiper .swiper-button-prev {
  left: 15%;
}

.allNormalSwiper .swiper-button-next,
.allBonusSwiper .swiper-button-next {
  right: 15%;
}

/* HOMEPAGE location */

.homepage-location {
  background-color: var(--third-color);
}

.homepage-location-wrapper {
  margin: var(--main-margin);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homepage-location-wrapper p {
  font-size: 2em;
  cursor: pointer;
  font-family: "Pacifico", cursive;
}

.homepage-location .store-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10.5em;
  height: 10.5em;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translatey(1.25em);
  }

  50% {
    transform: translatey(-1.5em);
  }

  100% {
    transform: translatey(1.25em);
  }
}

/* HOMEPAGE location END */

/* HOMEPAGE faq-new store */

.faq-newStore {
  margin: var(--main-margin);
  margin-top: 3em;
  padding: var(--main-padding);
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.faq-newStore-row {
  width: 20em;
  border: 1px solid var(--text-fill-color);
  border-radius: var(--radius-10);
  padding: var(--product-card-padding);
  text-align: center;
}
.faq-newStore-row a {
  text-decoration: none;
  color: var(--text-fill-color);
}
.faq-newStore-row:first-child {
  transform: rotate(-10deg);
  transition: 1s;
}
.faq-newStore-row:last-child {
  transform: rotate(10deg);
  transition: 1s;
}
.faq-newStore-row:hover {
  transform: rotate(0deg);
  transition: 0.5s;
}
.faq-newStore-text {
  text-align: center;
}
.faq-newStore-text h3 span:first-child {
  color: var(--main-color);
  font-size: 2em;
  font-weight: 900;
}
.faq-newStore-text h3 span:nth-child(2) {
  font-size: 2em;
  color: var(--second-color);
}
.faq-newStore-text span:last-child {
  font-size: 1.5em;
  color: var(--main-color);
  font-weight: 600;
}

.faq-newStore-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 10.5em;
}

/* HOMEPAGE faq-new store END */

@media (max-width: 767px) {
}

/* PRODUCT NORMAL HOMEPAGE END*/

.instagram-post {
  margin-top: 5em;
  margin-bottom: 5em;
  display: flex;
  justify-content: center;
}

/* LOCATION START */

.location-main {
  margin: var(--main-margin);
  margin-top: 7em;
  display: grid;
  justify-items: start;
  grid-gap: 1em;
  grid-template-columns: 18em auto auto;
  grid-template-rows: 3em repeat(5, 6em);
}

.location-main input {
  width: 100%;
  height: 2.5em;
}

.location-list ul {
  list-style: none;
}

.location-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 1 / 1;
  grid-row: 1 / 6;
}

.location-list {
  overflow-y: scroll;
  height: 100%;
}

.location-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: var(--radius-10);
  background-color: var(--bg-color);
}

.location-list::-webkit-scrollbar {
  width: 0.7em;
  background-color: var(--bg-color);
}

.location-list::-webkit-scrollbar-thumb {
  border-radius: var(--radius-10);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--text-fill-color);
}

.for-location-search .location-card h4 {
  cursor: pointer;
}

.location-button button {
  background-color: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: var(--radius-20);
  padding: var(--button-inner-text-padding);
  cursor: pointer;
}

.location-button button:hover {
  background-color: var(--main-color);
}

.location-button button:active {
  box-shadow: var(--button-active-box-shadow);
  transform: var(--button-active-y-translate);
}

.location-button {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

.location-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 4;
  grid-row: 2 / 6;
  width: 100%;
  height: 100%;
}

#floating-panel {
  margin-bottom: 0.5em;
}

.location-card {
  background-color: var(--bg-color);
  border: 1px solid var(--text-fill-color);
  padding: var(--location-card-padding);
  width: 100%;
}

.googleMap {
  width: 100%;
  height: 100%;
}

/* LOCATION END */

/* HIRE START */
.hr-main {
  margin: var(--main-margin);
  margin-top: 9em;
}

.hr-step-cards,
.hr-job-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: var(--main-padding);
}

.hr-step-card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--hr-step-card-padding);
  background-color: var(--second-color);
  border: 1px solid var(--text-fill-color);
  border-radius: var(--radius-10);
  width: 14em;
  /* width: 14vw; */
  height: auto;
  /* height: 16vh; */
  margin-right: 0.5em;
}

.hr-job-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.125em;
  border: 1px solid var(--text-fill-color);
  border-radius: var(--radius-10);
  width: 18em;
  height: auto;
  margin-right: 0.5em;
}

.hr-step-card .hr-step-card-number {
  position: absolute;
  top: 0.125em;
  left: 0.25em;
}

.hr-job-card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: var(--radius-10);
  width: 100%;
  height: 20em;
}

.hr-job-card h5,
.hr-job-card button {
  position: absolute;
}

.hr-job-card h5 {
  font-size: 1.125em;
  bottom: 2.5em;
}

.hr-job-card button {
  text-align: center;
  vertical-align: middle;
  border-color: var(--second-color);
  border-radius: 1em;
  width: 8em;
  height: 2em;
  padding: var(--button-more-text-padding);
  background-color: var(--bg-color);
  bottom: 1em;
  cursor: pointer;
}

.hr-job-card button:active {
  box-shadow: var(--button-active-box-shadow);
  transform: var(--button-active-y-translate);
}

.hr-click-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  font-family: var(--main-font);
  background-color: var(--third-color);
  padding: 0.5em 2em 2em;
  width: 40em;
  height: 20em;
  color: var(--text-fill-color);
  border: 0.0625em solid var(--text-fill-color);
  border-radius: var(--radius-10);
}

.click-hr-job {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hr-click-table {
  display: flex;
  flex-direction: row;
}

.hr-click-table ul {
  padding-left: 1em;
}

.hr-click-table .col {
  width: 50%;
}

.hr-click-table .col-1 {
  margin-right: 1em;
}

.hr-click-anket a {
  text-decoration: none;
  color: var(--text-fill-color);
  background-color: var(--bg-color);
  padding: var(--button-more-text-padding);
  border: 0.0625em solid var(--text-fill-color);
  border-radius: var(--radius-10);
}

.hr-click-container button {
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.5em;
  background: none;
  border: none;
  cursor: pointer;
}

/* HIRE END */
@media (max-width: 767px) {
  /* HEADER */
  .header-logo img {
    width: 5em;
    height: auto;
  }

  /* HEADER END */

  /* CATEGORY */
  .category-cards {
    margin: var(--mobile-margin);
    justify-content: space-evenly;
  }

  .category-cards div {
    width: 5em;
    text-align: center;
  }

  .category-cards h4 {
    font-size: 90%;
  }

  .category-cards .cat-card {
    margin-bottom: 1em;
    text-align: -webkit-center;
  }

  /* CATEGORY END */

  /* ENGIIN BOLON BELEGTEI BUTEEGDEHUUN */
  .product-cards,
  .product-bonus-cards {
    margin: var(--mobile-margin);
  }

  .product-homepage-continue,
  .product-bonus-homepage-continue {
    margin: var(--mobile-margin);
  }

  .product-homepage-continue .more,
  .product-bonus-homepage-continue .bonus-more {
    display: none;
  }

  .product-homepage-continue .mobile-more,
  .product-bonus-homepage-continue .bonus-mobile-more {
    display: block;
  }

  .product-homepage-continue button,
  .product-bonus-homepage-continue button {
    width: 6em;
  }

  .allNormalSwiper .swiper-button-prev,
  .allNormalSwiper .swiper-button-next,
  .allBonusSwiper .swiper-button-prev,
  .allBonusSwiper .swiper-button-next {
    display: none;
  }

  .product-normal-cards-container,
  .product-bonus-cards-container {
    font-size: 70%;
  }

  /* ENGIIN BOLON BELEGTEI BUTEEGDEHUUN END */

  /* HOMEPAGE LOCATION */

  .homepage-location .homepage-location-wrapper {
    margin: var(--mobile-margin);
  }
  .homepage-location p {
    font-size: 1.5em;
  }

  /* HOMEPAGE LOCATION END */

  .faq-newStore {
    margin: var(--mobile-margin);
  }
  .faq-newStore-text {
    display: none;
  }
  .faq-newStore {
    gap: 1em;
  }
  .faq-newStore-row:first-child,
  .faq-newStore-row:last-child {
    transform: rotate(0deg);
  }

  /* LOCATION */

  .location-main {
    margin: var(--mobile-main-section-margin);
    display: grid;
    justify-items: start;
    grid-gap: 1em;
    grid-template-columns: 10em 8em auto;
    grid-template-rows: 2em repeat(5, 5em);
  }

  .location-button {
    display: flex;
    grid-row: 1 / 1;
    grid-column: 2 / 4;
  }

  .location-button button {
    font-size: 70%;
  }

  .location-list {
    display: none;
    z-index: 99;
    height: 13em;
  }
  .location-list ul li div p:last-child {
    display: none;
  }

  .location-map {
    grid-row: 2 / 7;
    grid-column: 1 / 4;
  }

  /* LOCATION END */

  /* HR */
  .hr-main {
    margin: var(--mobile-main-section-margin);
  }
  .hr-step-cards,
  .hr-job-cards {
    gap: 1em;
  }

  .hr-click-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: var(--main-font);
    background-color: var(--third-color);
    padding: 0.5em 1em 1em;
    width: 20em;
    height: 30em;
    color: var(--text-fill-color);
    border: 0.0625em solid var(--text-fill-color);
    border-radius: var(--radius-10);
  }

  .hr-click-table {
    display: flex;
    flex-direction: column;
  }

  .hr-click-table ul {
    padding-left: 1em;
  }

  .hr-click-table .col {
    width: 100%;
  }

  .hr-click-table .col-1 {
    margin-right: 1em;
  }

  .hr-click-anket a {
    text-decoration: none;
    color: var(--text-fill-color);
    background-color: var(--bg-color);
    padding: var(--button-more-text-padding);
    border: 0.0625em solid var(--text-fill-color);
    border-radius: var(--radius-10);
  }

  .hr-click-container button {
    position: absolute;
    top: 2%;
    right: 1%;
  }

  /* HR END */
}

/* Product Start */
.main-product .product-div {
  width: 100%;
  background-color: var(--third-color);
}

.heading-product {
  margin: var(--main-margin);
  padding: 2.5em 0em;
  display: flex;
  gap: 12em;
}

.cat-title {
  font-size: 2em;
  color: var(--main-color);
}

.cat-list-active:hover {
  color: white;
  background-color: var(--main-color);
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
}

.list {
  display: flex;
  gap: 0.5em;
  list-style-type: none;
  text-decoration: none;
  transform: translate(0em, 0.625em);
  gap: 3em;
}

/*.heading-product .list .cat-list1 {
  text-decoration: none;
  margin-left: var(--main-margin);
} */

.heading-product .list .cat-list-active {
  text-decoration: none;
  border: 1px solid var(--text-fill-color);
  border-radius: var(--radius-30);
  padding: 0.5em 1.5em;
  font-size: 1em;
}

.products-allcategory {
  display: flex;
  margin: var(--product-margin);
  gap: 3em;
}

.products-category ul {
  list-style-type: none;
}

.product-list-cat {
  width: 18em;
  text-decoration: none;
  color: var(--text-fill-color);
  border: 1px solid var(--text-fill-color);
  font-size: 1.3em;
  padding: var(--category-list-padding);
  background-image: url("../img/product-img/submenu.webp");
  background-position: right center;
  background-repeat: no-repeat;
}

.product_list {
  width: 100%;
}

.product-list-cat img {
  width: 1.3em;
  margin-right: 0.3em;
}

.all_products {
  margin: 0em 2em;
  transform: translate(0em, -0.3em);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.products-allcategory .products-list {
  width: 150em;
}

.main-product .div1-product {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  background-color: var(--third-colors);
}

@media (max-width: 767px) {
}

/* Product End */

/* About Start */
.about_title {
  color: var(--main-color);
  text-align: center;
  font-size: 2em;
  padding: var(--about-margin);
}

.aboutVision {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0em 10em;
}

.aboutHeader {
  border: 1px solid var(--text-fill-color);
  border-radius: var(--radius-20);
  border-color: var(--second-color);
  margin: var(--about-margin);
  text-align: center;
  background-color: var(--third-color);
  box-sizing: border-box;
  width: 22em;
  height: 17em;
}

.about_Card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.aboutHeader:hover .about_Card {
  transform: rotateY(180deg);
}

.aboutGoal h4 {
  text-align: center;
  font-size: 1.5em;
}

.aboutGoal img {
  width: 13em;
  height: 13em;
}

.aboutGoal,
.hovertext {
  border-radius: var(--radius-20);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovertext {
  background-color: var(--second-color);
  transform: rotateY(180deg);
  color: var(--bg-color);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about_body {
  background-color: var(--third-color);
  padding: 3em 0em;
}

.aboutAllItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0em 9em 0em 12em;
  column-gap: 4em;
}

.about_item {
  display: flex;
  border: 1px solid var(--text-fill-color);
  border-radius: var(--radius-20);
  border-color: darkgray;
  margin: 0em 0em 2em 0em;
  padding: 1em;
  align-items: center;
  column-gap: 2em;
  background-color: var(--bg-color);
}

.about_item:hover {
  border-color: var(--main-color);
  transform: scale(1.2);
}

.about_item .about_img img {
  width: 5em;
  height: 5em;
}

.about_item_title h5 {
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: bold;
}

@media (max-width: 767px) {
  .aboutVision {
    display: flex;
    flex-direction: column;
    margin: 0em;
  }

  /* .about_body {
    display: flex;
    flex-direction: column;
  } */
  .aboutAllItem {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0em;
  }
}

/* About end */
