@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); /* fancy */
:root {
  --main-color: #007cff;
  --second-color: #00d4ea;
  --transparent-second-color: rgba(0, 212, 234, 0.9);
  --third-color: #d9ebf8;
  --fourth-color: #FF6A13;
  --place-holder-color: #a8a8a8;
  --text-fill-color: #3d4849;
  --bg-color: #fffdfd;
  --main-margin: 0 17em;
  --mobile-margin: 0 1em;
  --main-padding: 4em 0;
  --mobile-padding: 0 1.2em 0 1.2em;
  --footer-padding: 1em 8em;
  --category-list-padding: 0.5em 0.5em;
  --product-card-padding: 1em 0.5em 0 0.5em;
  --location-card-padding: 0.625em;
  --hr-step-card-padding: 0.75em;
  --radius-5: 0.3125em;
  --radius-10: 0.625em;
  --radius-20: 1.25em;
  --radius-30: 1.875em;
  --main-font: "PT Sans", sans-serif;
  --product-margin: 0em 5em 0 17em;
  --about-margin: 1em 2em;
  --about-padding: 1em 2em;

  --mobile-main-section-margin: 6em 1em 0;

  /* Landscape measure */
  --land-margin: 0 5em;

  /* ======= */

  /* for button */
  --button-inner-text-padding: 0.625em;
  /* for "more" button */
  --button-more-text-padding: 0.125em;
  --button-active-y-translate: 0.125em;
  --button-active-box-shadow: 0 0.125em var(--text-fill-color);
}
